[Desktop Entry]
Encoding=UTF-8
Name=FaCoin
Comment=FaCoin P2P Cryptocurrency
Comment[fr]=FaCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=FaCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/facoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/facoin80.xpm
MimeType=x-scheme-handler/facoin;
Categories=Office;
